@font-face {
    font-family: "IBM Bold";
    src: url("/font/IMB/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: "IBM Regular";
  src: url("/font/IMB/IBMPlexSans-Regular.ttf");
}


html,
body {
  background-color: #fdf4ea!important;
  // font-size: 16px !important;
}

.main-title {
  font-family: "IBM Bold", sans-serif;
}

.second-title {
  font-family: "IBM Regular", sans-serif;
}